<!-- Basic search filter
<div>
  <mat-form-field appearance="fill">
    <input
      matInput
      placeholder="Search Filter"
      autocomplete="off"
      (keyup)="searchFilterTable($event)"
    />
  </mat-form-field>
</div> -->

<!-- Filters -->
<div>
  <div style="display: none">
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Search Filter"
        autocomplete="off"
        [ngModel]="globalFilter"
        (ngModelChange)="applyFilter($event)"
      />
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Account Filter</mat-label>
    <input
      matInput
      placeholder="Account Filter"
      [formControl]="accountFilter"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Party Filter</mat-label>
    <input matInput placeholder="Party Filter" [formControl]="partyFilter" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Budget Filter</mat-label>
    <input matInput placeholder="Budget Filter" [formControl]="budgetFilter" />
  </mat-form-field>
  <button
    mat-icon-button
    class="button"
    color="accent"
    (click)="downloadTable()"
  >
    <mat-icon>save_alt</mat-icon>
    Export Table to CSV and Download
  </button>
  <br />
</div>

<!-- option for select element filters -->
<div>
  <!-- <mat-form-field appearance="fill">
    <mat-label>Filter By</mat-label>
    <mat-select #registerRole [(ngModel)]="filterBy" name="filterBy">
      <mat-option value="account">Account</mat-option>
      <mat-option value="party">Party</mat-option>
      <mat-option value="budget">Budget</mat-option>
    </mat-select>
  </mat-form-field> -->
  <!-- 
  <mat-form-field appearance="fill">    *ngIf="filterBy === 'account'"
    <mat-label>Account Name</mat-label>
    <mat-select
      #registerRole
      [formControl]="accountFilter"
      name="accountName"
    >
      <mat-option *ngFor="let account of ui.accounts" [value]="account.name">{{
        account.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">*ngIf="filterBy === 'party'" 
    <mat-label>Party Name</mat-label>
    <mat-select
      #registerRole
      [formControl]="partyFilter"
      name="party"
    >
      <mat-option *ngFor="let party of ui.parties" [value]="party.name">{{
        party.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field  appearance="fill">  *ngIf="filterBy === 'budget'"
    <mat-label>Budget Name</mat-label>
    <mat-select
      #registerRole
      [formControl]="budgetFilter"
      name="budget"
    >
      <mat-option *ngFor="let budget of ui.budgets" [value]="budget.name">{{
        budget.name
      }}</mat-option>
    </mat-select>
  </mat-form-field> -->
</div>

<table
  mat-table
  matSort
  id="table"
  [dataSource]="dataSource"
  class="mat-elevation-z8"
>
  <!-- <ng-container matColumnDef="id">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container> -->

  <ng-container matColumnDef="amount">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Amount</th>
    <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
  </ng-container>

  <ng-container matColumnDef="partyName">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Party</th>
    <td mat-cell *matCellDef="let element">{{ element.partyName }}</td>
  </ng-container>

  <ng-container matColumnDef="accountName">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Account</th>
    <td mat-cell *matCellDef="let element">{{ element.accountName }}</td>
  </ng-container>

  <ng-container matColumnDef="budgetName">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Budget</th>
    <td mat-cell *matCellDef="let element">{{ element.budgetName }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
